/Films.xcodeproj/xcuserdata/apple.xcuserdatad/xcschemes/xcschememanagement.plist
/Films.xcodeproj/xcuserdata/apple.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/Films.xcodeproj/project.xcworkspace/xcuserdata/apple.xcuserdatad/UserInterfaceState.xcuserstate
/Films.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/Films.xcodeproj/project.xcworkspace/contents.xcworkspacedata
